.message_container {
	filter: drop-shadow(0 0 8px cyan);
	
	.message {
		background: #000;
		width: calc(100% - 20px);
		max-width: 640px;
		margin: 0 auto;
		overflow: hidden;
		transition: all .5s;
		
		.title {
            background-color: #ff0;
            margin: 2px;
			display: inline-block;
			padding: .5em 2em;
			font-weight: bold;
			letter-spacing: .1em;
			text-align: center;
			text-transform: uppercase;
		}
		p {
			color: #fff;
			padding: 1em;
			margin: 0;
			display: block;
			line-height: 1.4em;
			text-align: justify;
			max-height: 10em;
		}
	}
}