button{
    background-color: white;
    padding: 0.4rem;
    width: 6rem;
    border-color: white;
    border-radius: 12%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
