button {
    background-color: white;
    padding: 0.4rem;
    width: 6rem;
    border-color: white;
    border-radius: 12%;
    cursor: pointer;


}


.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.option {
    cursor: pointer;
}

.stream {
    cursor: pointer;
}

p-sidebar {
    font-size: 1.6vw;
}

@media screen and (max-width: 500px) {
    .menu {
        flex-direction: column;
    }

    p-sidebar {
        font-size: 1.2rem;
    }
}