<app-header></app-header>
<div class="card">
    <div class="card-container yellow-container">
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">
            <!-- <h5>Day 1</h5> -->
            <p-panel header="Day 1  (27/01/2023)" [toggleable]="true">
                <ng-template pTemplate="icons">
                    <button pButton class="p-panel-header-icon p-link" icon="pi pi-cog"></button>

                </ng-template>
                <div class="card">
                    <h5>Mode (online)</h5>
                    <p-tabView>
                        <p-tabPanel header="Digi-ster">

                            
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME">Maitri Kadamia </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1"></td>
                                     <td data-label="ROUND 2"> </td>
                                        <td data-label="ROUND 3"> </td>
                                        <td data-label="TOTAL"> </td>       
                                        <td data-label="RESULT"> </td> 
                
                                </tbody>
                              </table>


                        </p-tabPanel>
                        <p-tabPanel header="FRONTEND WIZARD">
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME"> Rahul Tiwari </td>
                                    <td data-label="COLLEGE NAME">College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                 
                                </tbody>
                              </table>
                        </p-tabPanel>
                        <p-tabPanel header="LOGOTÄVLING">
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME">Mehek Gudhka </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                        
                                </tbody>
                              </table>
                        </p-tabPanel>

                    </p-tabView>
                </div>
            </p-panel>
            <br>



            <!-- <h5>Day 2</h5> -->
            <p-panel header="Day 2  (28/01/2023)" [toggleable]="true">
                <ng-template pTemplate="icons">
                    <button pButton class="p-panel-header-icon p-link" icon="pi pi-cog"></button>

                </ng-template>
                <div class="card">
                    <h5>Mode (offline)</h5>
                    <p-tabView>
                        <p-tabPanel header="CODE-TECH">
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                     
                                    <th scope="col">ROUND 1</th>
                                    <th scope="col">ROUND 2</th>
                                    <th scope="col">ROUND 3</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No">  1</td>
                                    <td data-label="NAME"> PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1">  </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Acount"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                </tbody>
                              </table>
                        </p-tabPanel>
                        <p-tabPanel header="TREASURE HUNT">
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                     
                                    <th scope="col">ROUND 1</th>
                                    <th scope="col">ROUND 2</th>
                                    <th scope="col">ROUND 3</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No">  1</td>
                                    <td data-label="NAME"> PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1">  </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Acount"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                </tbody>
                              </table>
                        </p-tabPanel>
                        <p-tabPanel header="BLINDTYPING">
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                     
                                    <th scope="col">ROUND 1</th>
                                    <th scope="col">ROUND 2</th>
                                    <th scope="col">ROUND 3</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No">  1</td>
                                    <td data-label="NAME"> PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1">  </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Acount"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                </tbody>
                              </table>
                        </p-tabPanel>
                        <p-tabPanel header="TECHNIZIA">
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                  
                                    <th scope="col">ROUND 1</th>
                                    <th scope="col">ROUND 2</th>
                                    <th scope="col">ROUND 3</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No">  1</td>
                                    <td data-label="NAME"> PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1">  </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Acount"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                </tbody>
                              </table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </p-panel>
            <br>

            <p-panel header="Winner" [toggleable]="true">
                <ng-template pTemplate="icons">
                    <button pButton class="p-panel-header-icon p-link" icon="pi pi-cog"></button>

                </ng-template>
                <div class="card">
                    <h5>Mode (offline)</h5>
                    <p-tabView>
                        <p-tabPanel header=" Event Winner">
                            <table>
                                 
                                <thead>
                                  <tr>
                                    <th scope="col">SR NO</th>
                                    <th scope="col">EVENT NAME</th>
                                    <th scope="col">COLLEGE NAME</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">ROUND 1</th>
                                    <th scope="col">ROUND 2</th>
                                    <th scope="col">ROUND 3</th>
                                    <th scope="col">TOTAL </th>
                                    <th scope="col">RESULT</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Sr No">  1</td>
                                    <td data-label="NAME"> PAWAN </td>
                                    <td data-label="COLLEGE NAME"> Chetana College</td>
                                    <td data-label="ROUND 1">  </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                  <tr>
                                    <td scope="row" data-label="Acount"> 1</td>
                                    <td data-label="NAME">PAWAN </td>
                                    <td data-label="COLLEGE NAME">Chetana College</td>
                                    <td data-label="ROUND 1"> </td>
                                    <td data-label="ROUND 2"> </td>
                                    <td data-label="ROUND 3"> </td>
                                    <td data-label="TOTAL"> </td>
                                    <td data-label="RESULT"> </td>
                                  </tr>
                                </tbody>
                              </table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </p-panel>


        </div>

    </div>
</div>
<app-footer></app-footer>