<div class="container">
    <header>
        <div class="title">
            <h1 id="headline">Countdown</h1>
        </div>
        <div class="dots">
            <img src="../../../../assets/images/spot.svg" alt="spot">
            <img src="../../../../assets/images/spot.svg" alt="spot">
            <img src="../../../../assets/images/spot.svg" alt="spot">
        </div>
    </header>
    <div id="countdown" class="countdown">
        <div class="lileft">
            <ul>
                <li><span class="arrow"><img src="../../../../assets/images/arrow.svg" alt="arrow"></span></li>
            </ul>
        </div>
        <div class="liright">
            <ul>
                <li><span id="days"></span>days</li>
                <li><span id="hours"></span>Hours</li>
                <li><span id="minutes"></span>Minutes</li>
                <li><span id="seconds"></span>Seconds</li>
            </ul>
        </div>
    </div>
    <div id="content" class="emoji">
        <span>🥳</span>
        <span>🎉</span>
        <span>🎂</span>
    </div>
</div>