<app-header></app-header>
<div class="scene">
  <div class="cube" id="ground">
    <div class="container">
      <div class="left"></div>
      <div class="right"></div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="front"></div>
      <div class="back"></div>
    </div>
  </div>
  <div class="rocks">
    <div class="cube" id="rock-1">
      <div class="container">
        <div class="left"></div>
        <div class="right"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>
    <div class="cube" id="rock-2">
      <div class="container">
        <div class="left"></div>
        <div class="right"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>
    <div class="cube" id="rock-3">
      <div class="container">
        <div class="left"></div>
        <div class="right"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>
    <div class="cube" id="rock-4">
      <div class="container">
        <div class="left"></div>
        <div class="right"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>
    <div class="cube" id="rock-5">
      <div class="container">
        <div class="left"></div>
        <div class="right"></div>
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>
  </div>
  <div class="jedi">
    <div class="head">
      <div class="cube" id="head">
        <div class="container">
          <div class="left"></div>
          <div class="right"></div>
          <div class="top"></div>
          <div class="bottom"></div>
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
      <div class="cube" id="neck">
        <div class="container">
          <div class="left"></div>
          <div class="right"></div>
          <div class="top"></div>
          <div class="bottom"></div>
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
      <div class="cube" id="nose">
        <div class="container">
          <div class="left"></div>
          <div class="right"></div>
          <div class="top"></div>
          <div class="bottom"></div>
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
      <div class="eyes">
        <div class="cube" id="eye-left">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="cube" id="eye-right">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
      </div>
      <div class="hair">
        <div class="cube" id="hair-top">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="cube" id="hair-center">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="cube" id="hair-center-back">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="cube" id="hair-back">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="cube" id="body">
        <div class="container">
          <div class="left"></div>
          <div class="right"></div>
          <div class="top"></div>
          <div class="bottom"></div>
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
    </div>
    <div class="legs">
      <div class="leg-left">
        <div class="cube" id="leg-left">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="cube" id="foot-left">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
      </div>
      <div class="leg-right">
        <div class="cube" id="leg-right">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="cube" id="foot-right">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="arms">
      <div class="arm-left">
        <div class="cube" id="arm-left">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="elbow-left">
          <div class="cube" id="arm-left-bottom">
            <div class="container">
              <div class="left"></div>
              <div class="right"></div>
              <div class="top"></div>
              <div class="bottom"></div>
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </div>
          <div class="cube" id="hand-left">
            <div class="container">
              <div class="left"></div>
              <div class="right"></div>
              <div class="top"></div>
              <div class="bottom"></div>
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="arm-right">
        <div class="cube" id="arm-right">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="cube" id="hand-right">
          <div class="container">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="light-saber">
          <div class="cube" id="light-saber">
            <div class="container">
              <div class="left"></div>
              <div class="right"></div>
              <div class="top"></div>
              <div class="bottom"></div>
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </div>
          <div class="cube" id="light-saber-bolster">
            <div class="container">
              <div class="left"></div>
              <div class="right"></div>
              <div class="top"></div>
              <div class="bottom"></div>
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </div>
          <div class="cube" id="light-saber-handle">
            <div class="container">
              <div class="left"></div>
              <div class="right"></div>
              <div class="top"></div>
              <div class="bottom"></div>
              <div class="front"></div>
              <div class="back"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>