<app-header></app-header>
<main>
    <div class="title">
        <p>About</p>
    </div>
    <div class="spots">
        <div class="aimg"><img src="../../../../assets/icons/git-commit-fill.svg" alt=""></div>
    </div>
    <div class="theme">
        <app-eventname></app-eventname>
    </div>
    <div class="event">
        <div class="etitle">
            <p><span>Iskra</span><span>.</span><span>Tech</span></p>
        </div>
        <div class="eDesc">
            <p>Iskra.Tech is an inter-collegiate I.T. event which was organized by the students of Bachelor of Science in Information Technology (B.Sc-I.T.) on December 15th, 2018. Iskra.Tech focuses on various tech related competitions. These events are extremely innovative and offers something different from the various college events held in Mumbai.</p>
        </div>
    </div>
    <div class="college">
        <div class="ctitle">
            <p>Chetana College</p>
        </div>
        
        <div class="cDesc">
            <p>The meaning of the word “Chetana” is consciousness. Consciousness is the essence of all creation. It is all-pervasive and infinite. It is the essence that unifies all beings and things. The cultural advancement of the human race itself can be attributed to the awareness of this consciousness. This consciousness requires a blend of emotional awareness and wisdom, which are the primary goals of education. Hence this name was suggested by Late Smt. Kusumtai Chaudhari while forming this profound education movement. Chetana, a service oriented educational trust was established on 09th September, 1969 by Respected Balasaheb Madhukarrao Chaudhari (former Education and Finance Minister, Government of Maharashtra and Ex-Speaker, Maharashtra Legislative Assembly)</p>
        </div>
    </div>
    
</main>
<app-footer></app-footer>