<app-header></app-header>
<main>
    <div class="title">
        <p>About</p>
    </div>
    <div class="spots">
        <div class="aimg"><img src="../../../../assets/icons/git-commit-fill.svg" alt=""></div>
    </div>
    <div class="theme">
        <app-eventname></app-eventname>
    </div>
    <div class="event">
        <blockquote class="speech-bubble">
            <p>Iskra.Tech is an inter-collegiate I.T. event which was organized by the students of Bachelor of Science
                in Information Technology (B.Sc-I.T.) on December 15th, 2018. Iskra.Tech focuses on various tech related
                competitions. These events are extremely innovative and offers something different from the various
                college events held in Mumbai.</p>
            <cite>Iskra.Tech 7.0</cite>
        </blockquote>
    </div>
    <div class="college">
        <div class="ctitle">
            <p>Chetana College</p>
        </div>

        <div class="cDesc">
                <p [ngClass]="{'limitTextHeight': isReadMore}" [innerHTML]="text">
                </p>
<button class="read" type="button" (click)="isReadMore=!isReadMore">
{{ isReadMore ? 'Read More': 'Read Less' }}
</button>
        </div>
    </div>

</main>
<app-footer></app-footer>