<footer>
    <div class="row primary">
        <div class="column links">
            <h3>Contact Us</h3>
            <ul>
                <li>
                    Ritesh Sharma (Event Head)
                </li>
                <li>
                    <a href="">+91 82862 79268</a>
                </li>
                <li>
                    Adnan Mangaonkar (College Relations)
                </li>
                <li>
                    <a href="">+91 79772 32115</a>
                </li>
                <li>
                    Diksha Gadadas (Marketing)
                </li>
                <li>
                    <a href="">+91 91678 84123</a>
                </li>
            </ul>

        </div>
        <div class="column about">

            <h3>Iskra.Tech</h3>

            <p>
                BSc.IT from Chetana College
            </p>

            <img class="footLogo" src="../../../../assets/images/iskralogo.png" alt="">

            <div class="social">
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-brands fa-twitter-square"></i>
                <i class="fa-brands fa-youtube-square"></i>
                <i class="fa-brands fa-whatsapp-square"></i>
            </div>
        </div>

        <div class="column links">
            <h3>Connect Us</h3>
            <ul>
                <li>
                    <div class="connect">
                        <div class="icons">
                            <img src="../../../../assets/icons/instagram-line.svg" alt="">
                        </div>
                        <div class="href">
                            <a href="#faq">Instagram</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="connect">
                        <div class="icons">
                            <img src="../../../../assets/icons/whatsapp-line.svg" alt="">
                        </div>
                        <div class="href">
                            <a href="#cookies-policy">Whatsapp Group</a>
                        </div>
                    </div>
                    
                </li>
                <li>
                    <div class="connect">
                        <div class="icons">
                            <img src="../../../../assets/icons/mail-line.svg" alt="">
                        </div>
                        <div class="href">
                            <a href="#terms-of-services">Mail Us</a>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </div>

    </div>

    <div class="row copyright">

        <p>Copyright &copy; Iskra.Tech 7.0</p>
    </div>
</footer>