.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #02223b;
  ul {
    list-style: none;
    li {
      a {
        color: #ffffffcc;
        text-decoration: none;
      }
    }
  }
  h1 {
    font-size: 22px;
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
  }
  h2 {
    color: #ffffff;
    font-weight: 500;
  }
}

footer {
  background-color: #19302e;
  border-top: 1px solid #6eb981;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  img{
    height: 4rem;
    width: 100%;
  }
}
.contact-details {
  list-style: none;
  margin: 10px 0;
  li a {
    text-decoration: none;
    color: #f1f1f1;
  }
  .fa {
    color: #f1f1f1;
    margin-right: 10px;
  }
}

.sociallogos {
  padding: 20px 0;
  display: flex;
  .logobox a {
    padding: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
  }
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .info {
    padding: 20px 0;
  }
}
@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos {
    padding: 20px 0;
  }
  .com {
    padding: 20px 0;
  }
  img {
    width: 309px;
    height: 43px;
  }
}
