<footer>
    <div class="row primary">
        <div class="column links">
            <h3>Contact Us...</h3>
            <ul>
                <li>JIGNESH & MERINA | Event Head</li>
                <li>
                    <a href="tel:9324775294">+91 93247 75294  </a> |
                    <a href="tel:8884884962"> +91 88848 84962</a>
                </li>
                <li>  VYANKAT  | Tech Head</li>
                <li>
                    <a href="tel:8104548429">+91 81045 48429</a>
                </li>
                <li>ASHLEY | Marketing Head</li>
                <li>
                    <a href="tel:9769948081">+91 97699 48081</a>
                </li>
            </ul>
        </div>
        <div class="column about">
            <h3>Iskra.Tech 8.0</h3>
            <p>BSc.IT from Chetana College</p>
            <a routerLink="/"><img class="footLogo" src="../../../../assets/images/iskralogo.png" alt=""></a>
        </div>
        <div class="column links">
            <h3>Connect</h3>
            <ul>
                <li>
                    <div class="connect">
                        <div class="icon">
                            <img src="../../../../assets/icons/instagram-line.svg" alt="">
                        </div>
                        <div class="href">
                            <a href="https://www.instagram.com/iskra._tech/" target="_blank">Instagram</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="connect">
                        <div class="icon">
                            <img src="../../../../assets/icons/whatsapp-line.svg" alt="">
                        </div>
                        <div class="href">
                            <a href="https://chat.whatsapp.com/DqhKcmU35Xg67av2VskqBA" target="_blank">Whatsapp</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="connect">
                        <div class="icon">
                            <img src="../../../../assets/icons/mail-line.svg" alt="">
                        </div>
                        <div class="href"><a href="mailto:iskra.tech8.O@gmail.com"> iskra.tech8.O@gmail.com</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row copyright">
      <div class="rowGap">
        <p>Copyright &copy;Iskra.Tech 8.0</p>
      </div>
      <div class="rowGap">
        <p>Developer rights &copy; <a href="https://github.com/v500nm" target="_blank">Adnan Mangaonkar</a></p>
      </div>
    </div>
</footer>
 