<footer>
    <div class="row primary">
        <div class="column links">
            <h3>Contact Us...</h3>
            <ul>
                <li>Ritesh Sharma | Event Head</li>
                <li>
                    <a href="">+91 82862 79268</a>
                </li>
                <li>Adnan Mangaoakar | Tech Head</li>
                <li>
                    <a href="">+91 79772 232115</a>
                </li>
                <li>Diksha Gadadas | Marketing Head</li>
                <li>
                    <a href="">+91 91678 84123</a>
                </li>
            </ul>

        </div>
        <div class="column about">
            <h3>Iskra.Tech 7.0</h3>
            <p>BSc.IT from Chetana College</p>
            <a routerLink="/"><img class="footLogo" src="../../../../assets/images/iskralogo.png" alt=""></a>

        </div>
        <div class="column links">
            <h3>Connect</h3>
            <ul>
                <li>
                    <div class="connect">
                        <div class="icon">
                            <img src="../../../../assets/icons/instagram-line.svg" alt="">
                        </div>
                        <div class="href">
                            <a href="https://www.instagram.com/iskra._tech/">Instagram</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="connect">
                        <div class="icon">
                            <img src="../../../../assets/icons/whatsapp-line.svg" alt="">
                        </div>
                        <div class="href">
                            <a href="https://chat.whatsapp.com/KhSoqBY2pRu7kIIYsiOFKr">Whatsapp</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="connect">
                        <div class="icon">
                            <img src="../../../../assets/icons/mail-line.svg" alt="">
                        </div>
                        <div class="href">iskra.tech.bscit@gmail.com</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row copyright">

        <p>Copyright &copy;Iskra.Tech 7.0</p>
    </div>
</footer>