<h1>Topics</h1>
<h3>slide for more</h3>
<div class="topicContainer">
    <div class="slider">

        <div class="slides">
            <div id="slide-1">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Digi-ster</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <ul>
                                <li>AGRITECH</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slide-2">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Frontend Wizard</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <ul>
                                <li>AGRITECH</li>
                                <!-- <li>Web Gallery</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slide-3">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Logo Tavling</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                        <ul>
                            <li>AGRITECH<br> Company name and Icon</li>
                        </ul>   
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="slide-4">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Opticode.Js</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>Futher Description will be provided in respective groups</h3>
                            <ul>
                                <li>Image Cropping Tools</li>
                                <li>Table Sorting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div id="slide-5">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Nerd N Code(1)</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <ul>
                                <li>   Multiple-Choice Question (MCQ)</li>
                                <li> Html/Css/Java/C/Python </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="slide-4">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Nerd N Code (2)</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <ul>
                                <li> To Debug The Given Code On THhe Spot</li>
                                <li>Html/Css/Java/C/Python</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="slide-6">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Treasure Hunt</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Will Disclosed on Event Day</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="slide-7">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Blind Typing</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <ul>
                                <li>Scripts will be provided.</li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div> -->
            <div id="slide-8">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>Technizia</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>Eligible Platorms</h3>
                            <ul>
                            <li>IOT</li>
                            <li>Software</li>
                            <li>Full-Stack Web Apps</li>
                        </ul>   
                        </div>
                    </div>
                </div>
            </div>
            <div id="slide-7">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <span>VALORANT</span>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <ul>
                            <li>5V5 CLASSIC MATCHES</li>
                            <li>FIRST 8 ROUND WINS</li>
                        </ul>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>