<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2> Registration Form</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" name="name" placeholder="Name" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" name="email" placeholder="Email ID" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" name="name" placeholder="College Name" required />
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="email" name="name" placeholder="Stream" required />
                    </div>

                    <div class="input_field select_option">
                        <select>
                            <option>Select Class</option>
                            <option>FYJC</option>
                            <option>SYJC</option>
                            <option>DEGREE FIRST YEAR</option>
                            <option>DERGEE SECOND YEAR</option>
                            <option>DERGEE THIRD YEAR</option>
                        </select>
                        <div class="select_arrow"></div>
                    </div>
                    <div class="input_field"> 
                        <input type="email" name="number" placeholder="Mobile Number" required />
                    </div>

                    <div class="input_field radio_option">
                        <p>Event</p>
                        <div class="day1">
                        <h4 style="text-align: center;">Day 1  (27/01/2023)</h4>
                        <p>
                            <input type="radio" id="test1" name="radioDay1">
                            <label for="test1">DEGI-STER</label>
                          </p>
                          <p>
                            <input type="radio" id="test2" name="radioDay1">
                            <label for="test2">FRONTEND WIZARD</label>
                          </p>
                          <p>
                            <input type="radio" id="test3" name="radioDay1">
                            <label for="test3">LOGO TAVLING</label>
                          </p>
                          <p>
                            <input type="radio" id="test4" name="radioDay1">
                            <label for="test4">OPTICODE .JS</label>
                          </p>
</div>
<div class="day2">
                          <h4 style="text-align: center;">Day 2  (28/01/2023)</h4>
                          <p>
                              <input type="radio" id="test6" name="radioDay2">
                              <label for="test6">CODE-TECH</label>
                            </p>
                            <p>
                              <input type="radio" id="test7" name="radioDay2">
                              <label for="test7">TREASURE HUNT</label>
                            </p>
                            <p>
                              <input type="radio" id="test8" name="radioDay2">
                              <label for="test8">BLIND TYPING</label>
                            </p>
                            <p>
                              <input type="radio" id="test9" name="radioDay2">
                              <label for="test9">TECHNIZIA</label>
                            </p>
</div>







                         
                    
                       





                    </div>

                    <input class="button" type="submit" value="Register" />
                </form>
            </div>
        </div>
    </div>
</div>