<app-header></app-header>
<section class="random-bg" id="myDIV">
    <div class="winner-wrap">
      <div class="border"></div>
      <div class="medal-box"><i class="fas fa-medal"></i></div>
      <h1>TREASURE HUNT</h1>
      <h2>IskraTech</h2>
      <div class="winner-ribbon">WINNER</div>
      <div class="right-ribbon"></div>
      <div class="left-ribbon"></div>
    </div>
  <div class="team-wrap">
    <div class="member-pic"><h1 id="hide">Pankaj</h1></div>
    
  </div>
  </section>
  <app-footer></app-footer>