<div class="events">
  <div class="day1">
    <div class="one">
      <h2>Digi-ster</h2>
      <div class="orule">
        <span>Rules</span>
        <p>
          PARTICIPANTS HAVE TO MAKE ONE POSTER ON THE TECHNOLOGY
          SOLUTIONFORTHETOPICPROVIDED.
        </p>
        <p>THETOPICS WILLBEPROVIDED4DAYSBEFORETHE EVENT.</p>
        <p>POSTERSCANBE MADE WITHANYSOFTWARE.</p>
        <p>THE FORMATPROVIDEDSHOULDBE FOLLOWEDSTRICTLY.</p>
        <p>
          HE/SHE SHALL NOT REVEAL IDENTIFY OF SELF OR IDENTITY OF
          COLLEGEONTHEPOSTER. 7.0
        </p>
      </div>
    </div>
    <div class="two">
      <h2>LOGOTÄVLING</h2>
      <div class="trule">
        <span>Rules</span>
        <p>THECOMPETITION WILLHAVEONLYONEROUNDOF 1.5HOURS.</p>
        <p>
          PARTICIPANTSCANONLYUSECANVA,PICSATRAND ILLUSTRATOR PARTICIPANTS ARE
          NOT ALLOWED TO FETCH IMAGES FROM GOOGLE, HOWEVER READY ELEMENTS
          AVAILABLE ON THE THREE PLATFORMS CANBEUSED.
        </p>
        <p>
          PARTICIPANTS MUST ENSURE THAT THE LOGO IS MADE AS PER THE THEME WHICH
          WILLBEPROVIDEDONTHESPOTTOTHEM.
        </p>
        <p>PLAGIARISM ISSTRICTLYFORBIDDEN.</p>
      </div>
    </div>
    <div class="three">
      <h2>OPTICODE . JS</h2>
      <div class="trule">
        <span>Rules</span>
        <p>MOVE LIMIT100LINESOF JS</p>
        <p>FORMATING METHOD:PRETTIER</p>
        <p>NO FRAME WORKALLOWED</p>
        <p>PRIMENG,BOOTSTRAP, ETC NOT ALLOWED</p>
        <p>STYLESHEET METHOD-CSSONLY</p>
        <br />
        <p>
          TOPIC WILLBEGIVEN2DAYSPRIOR AIM TOCODE MEANINGFUL WITH MAXFUNCTION
        </p>
      </div>
    </div>
    <div class="four">
      <h2>FRONTEND WIZARD</h2>
      <div class="frule">
        <span>Rules</span>
        <p>ANY PROGRAMMING LANGUAGE IS ACCEPTABLE</p>
        <p>WEBSITE MUST BE STATIC</p>
        <p>WORDPRESS IS NOT ALLOWED YOU MUST CREATE ATLEAST FOUR PAGES</p>
        <p>
          ON THE DAY OF THE EVENT, EACH PARTICIPANT IS REQUIRED TO GIVE A
          PRESENTATION ABOUT THEIR WEBSITE
        </p>
      </div>
    </div>
  </div>
  <div class="day2">
    <div class="one">
        <h2>CODE-TECH</h2>
        <div class="orule">
          <span>Rules</span>
          <p>
            Programming languages willbeusedas'C',Python, JavaScript(JS), JAVA.
          </p>
          <p>Participants whose code gets executed will be given higher Preference.</p>
          <p>The second preference will be given to code with least number of errors.</p>
          <p>In case of tie in the number of errors then timing will be considered.</p>
        </div>
      </div>
      <div class="two">
        <h2>TREASURE HUNT</h2>
        <div class="orule">
            <span>Rules</span>
            <p>
              It will be a solo event.
            </p>
            <p>The winner is the first person to discover the treasure, followed
              by the second</p>
            <p>Rules may be changed to meet specific needs (you will be
              informed after successful registration).</p>
            <p>In order to complete the rounds and reach the treasure,you
              must understand the hints that are given on each round</p>
          </div>
      </div>
      <div class="three">
        <h2>BLINDTYPING</h2>
        <div class="trule">
          <span>Rules</span>
          <p>
            Participants have to type a program with monitor off.
          </p>
          <p>Eachround will have an increasing difficulty.</p>
          <p>Participants must complete a round to move on to the next.</p>
          <p>The typing will be judge dont he basis of accuracy and time taken</p>
          <p>In the case of a tie, the winner will be decided based on the least
            number of errors and submission time.</p>
        </div>
      </div>
      <div class="four">
        <h2>TECHNIZIA</h2>
        <div class="frule">
          <span>Rules</span>
          <p>
            Open for both type of projects (i.e hardware & software)
          </p>
          <p>Only IT and Technical related project will be accepted
            (for eg:-Any type of software & IOT based hardware)</p>
          <p>No limit of members in the team.</p>
          <p>No restrictions on languages</p>
        </div>
      </div>
  </div>
</div>
