<app-header></app-header>
<app-topics></app-topics>
<div class="container">
  <h2>Day 1 &nbsp;(23/01/2023)</h2>
  <h3>Mode (Online)</h3>
  <!-- <h2> <span> Topics Revealing Date (23 January at 8 am & Submission on 24 January evening 8pm)</span></h2> -->
  <main class="grid">
    <article>
      <img src="../../../../assets/images/1.jpg" alt="poster">

      <div class="text" id="style-14">
        <h3>Digi-ster</h3>
        <div class="info">
          <p>Rules</p>


          <ol>
            <li>PARTICIPANTS HAVE TO MAKE ONE POSTER ON THE
              TOPIC.</li>
            <li>THE TOPIC FOR THE POSTER IS “AGRITECH”.</li>
            <li>POSTERS CAN BE MADE USING ANY SOFTWARE.</li>
            <li>THE FORMAT PROVIDED SHOULD BE FOLLOWED STRICTLY. </li>
            <li>HE/SHE SHOULD NOT MENTION ANY IDENTITY OF THEIR
              COLLEGE ON THE POSTER.</li>
          </ol>

        </div>
      </div>
    </article>

    <article>
      <img src="../../../../assets/images/2.png" alt="Sample photo">

      <div class="text">
        <h3>FRONTEND WIZARD</h3>
        <div class="info">
          <p>Rules</p>


          <ol>
            <li>ANY PROGRAMMING LANGUAGE IS ACCEPTABLE.</li>
            <li>WEBSITE MUST BE STATIC.</li>
            <li>WORDPRESS IS NOT ALLOWED YOU MUST CREATE ATLEAST FOUR PAGES.</li>
            <li>ON THE DAY OF THE EVENT, EACH PARTICIPANT IS REQUIRED TO GIVE A PRESENTATION ABOUT THEIR WEBSITE.</li>

          </ol>
        </div>
      </div>
    </article>

    <article>
      <img src="../../../../assets/images/3.jpg" alt="Sample photo">

      <div class="text">
        <h3>LOGOTÄVLING</h3>
        <div class="info">
          <p>Rules</p>


          <ol>
            <li>PARTICIPANTS CAN USE ONLY PICSART AND NO PARTICIPANTS ARE
              ALLOWED TO FETCH IMAGES FROM GOOGLE.
              </li>
            <li>THE TOPIC FOR THE POSTER IS “AGRITECH”.</li>
            <li>PARTICIPANTS MUST ENSURE THAT THE LOGO IS MADE AS PER THE THEME.</li>
            <li>PLAGIARISM IS STRICTLY PROHIBITED.</li>
          </ol>
        </div>
      </div>
    </article>
    <article>
      <img src="../../../../assets/images/codeTech.jpg" alt="Sample photo">
      <div class="text">
        <h3>NERD N CODE (1)</h3>
        <div class="info">
          <p>Rules</p>
          <ol>
            <li>ROUND 1 WILL BE ONLINE QUIZ ON 23rd JAN.</li>
            <li>SELECTED PEOPLE FROM THE QUIZ WILL BE QUALIFY ON ROUND 2
              WHICH IS HELD ON 24th JAN.</li>
            <li>QUIZ WILL BE BASED ON C, HTML, CSS, JAVA, PYTHON.</li>
          </ol>
        </div>
      </div>
    </article>

 
  </main>
<h2>Day 2 &nbsp;(24/01/2023)</h2>
<h3>Mode (Offline)</h3>
<main class="grid">

  <article>
    <img src="../../../../assets/images/codeTech.jpg" alt="Sample photo">
    <div class="text">
      <h3>NERD N CODE (2)</h3>
      <div class="info">
        <p>Rules</p>
        <ol>
          <li>ROUND 2 WILL BE TO DEBUG THE GIVEN CODE ON THE SPOT.
          </li>
          <li>THE LANGUAGES WILL BE C, HTML, CSS, JAVA, PYTHON.</li>
          <li>AFTER QUALIFYING ROUND 2 , THE FINAL ROUND IS TO SOLVE THE
            MYSTERY QUESTION.</li>
        </ol>
      </div>
    </div>
  </article>

  <article>
    <img src="../../../../assets/images/th.jpg" alt="Sample photo">

    <div class="text">
      <h3>TREASURE HUNT</h3>
      <div class="info">
        <p>Rules</p>


        <ol>
          <li>IT WILL BE A SOLO GAME.
          </li>
          <li>THE WINNER IS THE FIRST PERSON TO DISCOVER THE TREASURE,
            FOLLOWED BY THE SECOND.
            </li>
          <li>RULES MAY BE CHANGED TO MEET SPECIFIC NEEDS
            (YOU WILL BE INFORMED AFTER SUCCESSFUL REGISTRATION).
            </li>
          <li>IN ORDER TO COMPLETE THE ROUNDS AND REACH THE TREASURE,
            YOU MUST UNDERSTAND THE HINTS THAT ARE GIVEN ON EACH ROUND.
            </li>
        </ol>
      </div>
    </div>
  </article>

  

  <article>
    <img src="../../../../assets/images/8.webp" alt="Sample photo">

    <div class="text">
      <h3>TECHNIZIA</h3>
      <div class="info">
        <p>Rules</p>


        <ol>
          <li>OPEN FOR BOTH TYPE OF PROJECTS I.E HARDWARE(IOT) &
            SOFTWARE(FULL-STACK SYSTEM).
            </li>
          <li>ONLY IT AND TECHNICAL RELATED PROJECT WILL BE ACCEPTED
            (FOR EG:-ANY TYPE OF SOFTWARE & IOT BASED HARDWARE).
            </li>
          <li>NO LIMIT OF MEMBERS IN THE TEAM.</li>
          <li>NO RESTRICTIONS ON LANGUAGES.
          </li>

        </ol>
      </div>
    </div>
  </article>
  <article>
    <img src="../../../../assets/images/1Valorant.jpg" alt="Sample photo">

    <div class="text">
      <h3>VALORANT</h3>
      <div class="info">
        <p>Rules</p>


        <ol>
          <li>SINGLE ENTRIES NOT ALLOWED.
          </li>
          <li>THE TEAM SHOULD BE OF SAME CLASS FOR A MATCH.</li>
          <li>STUDENT HAVE TO BRING THEIR ID CARD COMPULSORY.
          </li>
          <li>MORE THAN ONE TEAMS CAN JOIN FROM A SAME CLASS.
          </li>

        </ol>
      </div>
    </div>
  </article>




</main>
</div>


<app-footer></app-footer>