.events{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    h2{
        color: yellow;
        font-weight: 600;
        margin: 1rem;
        text-align: center;

    }
    span{
        
        color: black;
        font-weight: 500;
        margin: 1rem;
        background: rgb(234, 234, 80);
        padding:5px;
        border-radius: 5px;
       
    }

    p{
        color: white;
        font-weight: 500;
        margin: 1rem;
    }

.day1{
    width: 50%;
    .one{
        padding: 10px;
        border-radius: 5px;
        

        .orule{
            padding: 20px;
            border-radius: 5px;

            
        }

    }
    .two{
        padding: 10px;
        border-radius: 5px;

        .trule{
            padding: 20px;
            border-radius: 5px;
            
        }
    }
    .three{
        padding: 10px;
        border-radius: 5px;
        .trule{
            padding: 20px;
            border-radius: 5px;
            
        }
    }
    .four{
        padding: 10px;
        border-radius: 5px;

        .frule{
            padding: 20px;
            border-radius: 5px;
            
        }
    }
}
.day2{
    width: 50%;
    .one{
        padding: 10px;
        border-radius: 5px;
        

        .orule{
            padding: 20px;
            border-radius: 5px;
        }

    }
    .two{
        padding: 10px;
        border-radius: 5px;

        .trule{
            padding: 20px;
            border-radius: 5px;
            
        }
    }
    .three{
        padding: 10px;
        border-radius: 5px;
        margin-top: 2.5rem;
        .trule{
            padding: 20px;
            border-radius: 5px;
            
        }
    }
    .four{
        padding: 10px;
        border-radius: 5px;
        margin-top: 5rem;

        .frule{
            padding: 20px;
            border-radius: 5px;
            
        }
    }

}
}





///////////////////////
body{
    overflow-x: hidden;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }


 
  
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    padding: 20px;
    h3{
        color: white;
        text-align: center;
    }
    .info{
        width: 100%;
        margin: auto 12px;
    // margin: auto 12px;
    
    h4{
        color: white;
    }
    ol li{
        color: white;
        pad: 12px 12px;
    }
  }
}
  