
<app-header></app-header>
<div class="container">
<h2>Day 1 &nbsp;(27/01/2023)</h2>
  <main class="grid">
    <article>
      <img src="https://media.istockphoto.com/id/1288965449/vector/graphic-designer-creating-logo-design-vector-flat-isometric-illustration.jpg?s=612x612&w=0&k=20&c=G-Nhw42gJpuf72LBeh7dXHZddr7UV7bTt72ZEsqevzY=" alt="poster">
      <hr>
      <div class="text" id="style-14">
        <h3>Digi-ster</h3>
       <p>Rules</p>
        <div class="info">
       
       <ol>
        <li>ANY PROGRAMMING LANGUAGE IS ACCEPTABLE</li>
        <li>WEBSITE MUST BE STATIC</li>
        <li>WORDPRESS IS NOT ALLOWED YOU MUST CREATE ATLEAST FOUR PAGES</li>
        
        <li class="read-more-target">ON THE DAY OF THE EVENT, EACH PARTICIPANT IS REQUIRED TO GIVE A PRESENTATION ABOUT THEIR WEBSITE</li>
       
       </ol>
       
       </div>
      </div>
    </article>

    <article>
      <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/687289/retina_1708x683_op-Ten-Front-End-Design-Rules-For-Developers_Luke-Newsletter-d3a7d3e7430ee224cab75104f11342a0.png" alt="Sample photo">
      <hr>
      <div class="text">
        <h3>FRONTEND WIZARD</h3>
       <p>Rules</p>
        <div class="info">
          
       <ol>
        <li>ANY PROGRAMMING LANGUAGE IS ACCEPTABLE</li>
        <li>WEBSITE MUST BE STATIC.</li>
        <li>WORDPRESS IS NOT ALLOWED YOU MUST CREATE ATLEAST FOUR PAGES.</li>
        <li>ON THE DAY OF THE EVENT, EACH PARTICIPANT IS REQUIRED TO GIVE A PRESENTATION ABOUT THEIR WEBSITE</li>
        
       </ol>
       </div>
      </div>
    </article>

    <article>
      <img src="https://uploads-ssl.webflow.com/5de2db6d3719a1e2f3e4454c/614bc0864a873d3906706cbb_logo_design_process_TH.jpg" alt="Sample photo">
      <hr>
      <div class="text">
        <h3>LOGOTÄVLING</h3>
       <p>Rules</p>
        <div class="info">
         
       <ol>
        <li>THECOMPETITION WILLHAVEONLYONEROUNDOF 1.5HOURS.</li>
        <li>PARTICIPANTS CAN ONLY USE CANVA,PICSATRAND ILLUSTRATOR PARTICIPANTS ARE NOT ALLOWED TO FETCH IMAGES FROM GOOGLE, HOWEVER READY ELEMENTS AVAILABLE ON THE THREE PLATFORMS CANBEUSED.</li>
        <li>PARTICIPANTS MUST ENSURE THAT THE LOGO IS MADE AS PER THE THEME WHICH WILL BE PROVIDE DONT HE SPOT TO THEM.</li>
        <li>PLAGIARISM IS STRICTLY FORBIDDEN.</li>
       </ol>
       </div>
      </div>
    </article>

    <article>
      <img src="https://789253444-files.gitbook.io/~/files/v0/b/gitbook-legacy-files/o/assets%2F-LKbpNQDFNJap9OTDSt6%2F-LOpExmB5Byhq6gY1KDl%2F-LOpJdDLRjzx7VpLurTp%2FJS%20Syntax%20Poster%20(2160).png?alt=media&token=48384edf-4367-490a-b916-c8717b0a6450" alt="Sample photo">
      <hr>
      <div class="text">
        <h3>OPTICODE . JS</h3>
       <p>Rules</p>
        <div class="info">
          
       <ol>
        <li>MOVE LIMIT 100 LINES OF JS</li>
        <li>FORMATING METHOD:PRETTIER</li>
        <li>NO FRAME WORKALLOWED</li>
        <li>PRIMENG,BOOTSTRAP, ETC NOT ALLOWED</li>
        <li>STYLESHEET METHOD-CSSONLY</li>
       </ol>
       </div>
      </div>
    </article>

    </main>
    <hr>
    <h2>Day 2 &nbsp;(28/01/2023)</h2>
    <main class="grid">
    <article>
      <img src="../../../../assets/images/codeTech.jpg" alt="Sample photo">
      <hr>
      <div class="text">
        <h3>CODE-TECH</h3>
       <p>Rules</p>
        <div class="info">
        
       <ol>
        <li>Programming languages willbeusedas'C',Python, JavaScript(JS), JAVA.</li>
        <li>Participants whose code gets executed will be given higher Preference.</li>
        <li>The second preference will be given to code with least number of errors.</li>
        <li>In case of tie in the number of errors then timing will be considered.</li>
       </ol>
       </div>
      </div>
    </article>

    <article>
      <img src="https://thumbs.dreamstime.com/b/old-map-vintage-travel-equipment-expedition-concept-treasure-hunt-old-map-vintage-travel-equipment-expedition-concept-133932664.jpg" alt="Sample photo">
      <hr>
      <div class="text">
        <h3>TREASURE HUNT</h3>
       <p>Rules</p>
        <div class="info">
         
       <ol>
        <li>It will be a solo event.</li>
        <li>The winner is the first person to discover the treasure, followed by the second</li>
        <li>Rules may be changed to meet specific needs (you will be informed after successful registration).</li>
        <li>In order to complete the rounds and reach the treasure,you must understand the hints that are given on each round</li>
       </ol>
       </div>
      </div>
    </article>

    <article>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Computer_keyboard.png" alt="Sample photo">
      <hr>
      <div class="text">
        <h3>BLINDTYPING</h3>
       <p>Rules</p>
        <div class="info">
          
       <ol>
        <li>Participants have to type a program with monitor off.</li>
        <li>Eachround will have an increasing difficulty.</li>
        <li>Participants must complete a round to move on to the next.</li>
        <li>The typing will be judge dont he basis of accuracy and time taken</li>
        <li>In the case of a tie, the winner will be decided based on the least number of errors and submission time.</li>
       </ol>
       </div>
      </div>
    </article>

    <article>
      <img src="https://eu-images.contentstack.com/v3/assets/blt31d6b0704ba96e9d/bltccbc5bfae8f06b2f/63abebe2406bef5bdbec1a77/GettyImages-1184804468.jpg?width=850&auto=webp&quality=95&format=jpg&disable=upscale" alt="Sample photo">
      <hr>
      <div class="text">
        <h3>TECHNIZIA</h3>
       <p>Rules</p>
        <div class="info">
          
       <ol>
        <li>Open for both type of projects (i.e hardware & software)</li>
        <li>Only IT and Technical related project will be accepted (for eg:-Any type of software & IOT based hardware)</li>
        <li>No limit of members in the team.</li>
        <li>No restrictions on languages</li>
        
       </ol>
       </div>
      </div>
    </article>
    
   
    
   
  </main>
</div>


<app-footer></app-footer>


