<div class="regContainer">
    <div class="title">
        <h1>Register</h1>
    </div>
    <hr>
    <br>
    <div class="form">
        <form action="">
            <div class="p-fluid grid">
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText required>
                        <label for="inputtext">Email</label>
                    </span>
                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText required>
                        <label for="inputtext">Name</label>
                    </span>
                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText required>
                        <label for="inputtext">Mobile Number</label>
                    </span>
                </div>
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText required>
                        <label for="inputtext">College Name</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" class="inputtext1" pInputText required>
                        <label for="inputtext">Stream with Class <br> eg. fy-bscit</label>
                    </span>
                </div>
                <div class="field col-12 md:col-12">
                    <hr>
                    <span class="thingstoRem">
                        <h3>
                            THINKS TO BE REMEMBER
                        </h3>
                        <p>
                            Students cannot participate in more then 1 competition if it is happening on same day
                            (suppose on day 1 there are 4 competitions ,participant can participate in 1 competition
                            only
                            but they can participate in day 2 event again).
                        </p>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <div>
                        <h2>Day 1 Events</h2>
                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day1">
                            <div class="rad-design"></div>
                            <div class="rad-text">Digi-Ster</div>
                        </label>

                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day1">
                            <div class="rad-design"></div>
                            <div class="rad-text">Frontend Wizard</div>
                        </label>

                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day1">
                            <div class="rad-design"></div>
                            <div class="rad-text">logo Tävling</div>
                        </label>

                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day1">
                            <div class="rad-design"></div>
                            <div class="rad-text">Opticode.js</div>
                        </label>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <div>
                        <h2>Day 2 Events</h2>
                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day2">
                            <div class="rad-design"></div>
                            <div class="rad-text">Code-Tech</div>
                        </label>

                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day2">
                            <div class="rad-design"></div>
                            <div class="rad-text">Treasure Hunt</div>
                        </label>

                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day2">
                            <div class="rad-design"></div>
                            <div class="rad-text">Blind Typing</div>
                        </label>

                        <label class="rad-label">
                            <input type="checkbox" class="rad-input" name="day2">
                            <div class="rad-design"></div>
                            <div class="rad-text">Technizia</div>
                        </label>
                    </div>
                </div>
                <div class="field col-12 md:col-12">
                    <h1>Notice*</h1>
                    <p>Dear Participants,<br>
                        Please take a screenshot of your successful payment page and upload it in the given section.
                        Thank you</p>
                </div>
                <div class="field col-12 md:col-6">
                    <h3>This payment QR Code is for following events(like Digi-Ster, FrontEnd Wizard, Logo Taveling,
                        Opticode.Js, CodeTech, Treasure Hunt, Blind Typing).</h3>
                    <img class="restImg" src="../../../../assets/images/restEvent.jpg" alt="">
                </div>
                <div class="field col-12 md:col-6">
                    <h3>Payment QR For Technizia both Event.</h3><br><br>
                    <img class="techniziaImg" src="../../../../assets/images/Technizia.jpg" alt="">
                </div>
                <div class="field col-12 md:col-12">
                <h2>Upload Payment Screenshot*</h2>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Aevents">All events: </label><br>
                    <input class="gpay" type="file" name="Aevents">
                    <hr>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="technizia">Technizia: </label><br>
                    <input class="gpay" type="file" name="technizia">
                    <hr>
                </div>
                <div class="fieldBtn field col-12 md:col-12">
                    <button class="submitBtn" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>