header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  .select {
    .part {
      border: none;
      color: white;
      background-color: transparent;
      font-size: 22px;
      text-decoration: none;
    }
  }
}
