<div class="container-about">
    <h2>About us</h2>
    <h2>click for more</h2>
    <div class="text">
      <div class="inner">
        <textarea rows="12" cols="60" disabled>Iskra.Tech is an inter-collegiate I.T. event which was organized by the students of Bachelor of Science in Information Technology (B.Sc-I.T.) on December 15th, 2018. Iskra.Tech focuses on various tech related competitions. These events are extremely innovative and offers something different from the various college events held in Mumbai.</textarea>
      </div>
    </div>
  </div>

