<div class="container-about">
    <h2>About us</h2>
    <h2>click for more</h2>
    <div class="text">
      <div class="inner">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate tortor sit amet felis accumsan, at ornare diam placerat. Cras bibendum lobortis quam ut venenatis. Mauris eu mi in erat sagittis cursus. Vivamus in euismod diam, et interdum odio. Suspendisse vel rhoncus metus, eu auctor neque. Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>

