
<div class="cardContainer">
    <div class="line1">
        <div class="card">
            Magic Card
          </div>
          <div class="card">
            Magic Card
          </div>
    </div>
    <div class="line2">
        <div class="card">
            Magic Card
          </div>
          <div class="card">
            Magic Card
          </div>
    </div>
    <div class="line3">
        <div class="card">
            Magic Card
          </div>
          <div class="card">
            Magic Card
          </div>
    </div>
    <div class="line4">
        <div class="card">
            Magic Card
          </div>
          <div class="card">
            Magic Card
          </div>
    </div>     
</div>
            