<div class="container">
    <div class="carousel">
      <div class="carousel__face"><span>DIGI-STER</span></div>
      <div class="carousel__face"><span>CODE-TECH</span></div>
      <div class="carousel__face"><span>FRONT WIZARD</span></div>
      <div class="carousel__face"><span>OPTI-CODE.JS</span></div>
      <div class="carousel__face"><span>TECHNIZIA</span></div>
      <div class="carousel__face"><span>TREASURE HUNT</span></div>
      <div class="carousel__face"><span>LOGO TAVLING</span></div>
      <div class="carousel__face"><span>BLIND TYPING</span></div>
    </div>
  </div>