<div class="container">
    <div class="carousel">
      <div class="carousel__face"><span>DIGI-STER</span></div>
      <div class="carousel__face"><span>LOGO TAVLING</span></div>
      <div class="carousel__face"><span>FRONTEND WIZARD</span></div>
      <div class="carousel__face"><span>NERD N CODE(1)</span></div>
      <div class="carousel__face"><span>NERD N CODE(2)</span></div>
      <div class="carousel__face"><span>TREASURE HUNT</span></div>
      <div class="carousel__face"><span>VALORANT</span></div>
      <div class="carousel__face"><span>TECHNIZIA</span></div>
    </div>
  </div>