<div class="card">
    <div class="card-container">
        <header>
        <div class="block1 text-center p-4 mb-3 ">
            <app-header></app-header>
        </div>
        </header>
        <section>
        <div class="block2 text-center p-4 mb-3">
            <img class="iskraLogo" src="../../../../assets/images/iskraMain.svg" alt="eventLogo">
        </div>
        <div class="block3 text-center p-4 mb-3">
            <app-dates></app-dates>
        </div>
        </section>
        <section class="about">
            <app-aboutcomp></app-aboutcomp>
        </section>
        <div class="block4 text-center p-4 mb-3">
            <app-countdown></app-countdown>
        </div>
        <div class="block5 text-center p-4 mb-3">
            <div class="eventtitle">
                <span class="eventGlow" routerLink="event">EVENTS</span>
            </div>
            <div class="cardcarousel">
                <a routerLink="/event">
                <app-card></app-card></a>
            </div>
        </div>
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>
</div>