<div class="card">
    <div class="card-container">
        <header>
        <div class="block1 text-center p-4 mb-3 ">
            <app-header></app-header>
        </div>
        </header>
        <section>
        <div class="block2 text-center p-4 mb-3">
            <p class="presents">Presents</p>
            <img class="iskraLogo" src="../../../../assets/images/iskraMain.svg" alt="eventLogo">
        </div>
        <div class="block3 text-center p-4 mb-3">
            <p class="reg">27th & 28th</p>
            <p class="reg1">January</p>
            <p class="now">Register Now</p>
        </div>
        </section>
        <section class="about">
                <div class="eTitle">
                    <h1>Theme Name</h1>
                </div>
                <div class="eDesc">
                    <p>Iskra.Tech is an inter-collegiate I.T. event which will be organizing by the students of Bachelor of Science in Information Technology (B.Sc-I.T.) on January 28th, 2023. Iskra.Tech focuses on various tech related competitions. These events are extremely innovative and offers something different from the various college events held in Mumbai.</p>
                </div>
        </section>
        <div class="block4 text-center p-4 mb-3">
            <app-countdown></app-countdown>
        </div>
        <div class="block5 text-center p-4 mb-3">
            <app-card></app-card>
        </div>
        <div class="block6 text-center p-4 mb-3">3</div>
        <footer>
            <app-footer></app-footer>
        </footer>
    </div>
</div>