.card {
  .card-container {
    .block2 {
      .iskraLogo {
        height: 20rem;
        margin: auto;
      }
      p {
        font-size: 40px;
        line-height: 1px;
        color: white;
      }
    }
    .block3 {
      .reg {
        margin-top: -2.5rem;
        font-size: 80px;
        color: #488eff;
      }
      .reg1{
        margin-top: -2.5rem;
        font-size: 70px;
        color: #af55fd;
      }
      .now {
        font-size: 60px;
        line-height: 110%;
        color: #ff00cc;
      }
    }
    .about{
      background-color: #1d0630;
      color: white;
      padding: 2rem;
      .college{
        
      }
    }
    app-card{
      width: 100%;
    }
   
  }
}
