.card {
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    .block2 {
      .iskraLogo {
        height: 40vh;
        margin: auto;
        margin-top: -8rem;
        width: 80vw;
      }
      p {
        font-size: 40px;
        line-height: 1px;
        color: white;
        text-align: center;
      }
    }
    .block3 {
      .reg {
        margin-top: -2.5rem;
        font-size: 80px;
        color: #488eff;
      }
      .reg1 {
        margin-top: -2.5rem;
        font-size: 70px;
        color: #af55fd;
      }
      .now {
        font-size: 60px;
        line-height: 110%;
        color: #ff00cc;
      }
    }
    .block5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 52px;
      }
      color: white;
      .cardcarousel {
        height: 26rem;
      }
    }
    .about {
      color: white;
      padding: 2rem;
      text-align: center;
      margin: auto;
      
    }
    app-card {
      width: 100%;
    }
  }
}

.eventGlow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vw;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
}
@media  screen and (max-width:500px) {
  .eventGlow{
    -webkit-text-stroke-width: 4px;
    text-shadow: 8px 8px #ff1f8f 15px 15px #000000;
  }
}
