<div class="card">
    <div class="card-container yellow-container">
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">1</div>
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">2</div>
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">3</div>
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">3</div>
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">3</div>
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">3</div>
    </div>
</div>