<app-header></app-header>
<section>
    <div class="box">
        <div class="title">
            <h2>Round 1</h2>
        </div>
        <div class="hintDiv">
            <h1 class="hint">I am designed to record or stream to a computer who am i..?</h1>
        </div>
        <div class="abc">
            <img src="../../../../assets/paperChase/P.png" alt="" height="60px" width="60px">
            <img src="../../../../assets/paperChase/I.png" alt="" height="60px" width="60px">
            <img src="../../../../assets/paperChase/R.png" alt="" height="60px" width="60px">
            <img src="../../../../assets/paperChase/E.png" alt="" height="60px" width="60px">
            <img src="../../../../assets/paperChase/E.png" alt="" height="60px" width="60px">
            <img src="../../../../assets/paperChase/D.png" alt="" height="60px" width="60px">
            <img src="../../../../assets/paperChase/V.png" alt="" height="60px" width="60px">
            <img src="../../../../assets/paperChase/N.png" alt="" height="60px" width="60px">
        </div>
        <input id="text_a" autofocus type="text" class="search" #box>
        <button (click)="myFunction(box.value)" class="btn">Check</button>
        <p id="answer"></p>
       
    </div>
</section>
<app-footer></app-footer>